<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 id="patata"><%= title %></h1>
    <p>Welcome to <%= title %></p>
		<script src="./jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="./javascript/financial-data.js"></script>
  </body>
</html>
